.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border-bottom: 1px solid var(--border-color); */
  padding: 10px;
}

.header-grid-left {
  justify-self: left;
}

.header-grid-right {
  justify-self: right;
}

.header-grid-right a {
  /* margin: 0 10px; */
}

.profile-dropdown {
  position: relative;
}

.profile-dropdown-menu {
  display: none;
  right: 0;
  position: absolute;
}

.profile-dropdown-menu > *,
.profile-dropdown-button {
  cursor: pointer;
  background-color: white;
  margin-top: -1px;
  min-width: 150px;
  /* width: 150px; */
  padding: 10px;
  border: 1px solid var(--border-color);
  text-align: center;
  font-size: inherit;
}

.profile-dropdown:hover > .profile-dropdown-menu {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.profile-dropdown-menu > *:hover,
.profile-dropdown-button:hover {
  background-color: var(--hover-color);
  text-decoration: none;
}

.profile-dropdown:hover > .profile-dropdown-button {
  /* border-left: 4px solid var(--border-color);
  border-right: 4px solid var(--border-color); */
  background-color: var(--border-color);
}

.login-signup-link {
  margin: 0 10px;
}

.header-name-title {
  font-size: 30px;
  color: rgb(58, 58, 58);
}
.header-logo {
  /* height: 30px; */
}

@media only screen and (max-width: 600px) {
  .header-grid {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .header-grid-left {
    justify-self: center;
  }

  .header-grid-right {
    justify-self: normal;
    display: grid;
  }

  .header-grid-right-one {
  }
  .header-grid-right-two {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  .profile-dropdown,
  .profile-dropdown-menu,
  .profile-dropdown-button {
    width: 100%;
  }

  .profile-dropdown {
    position: relative;
  }

  .profile-dropdown-menu {
    display: none;
    left: 0;
    position: absolute;
  }
}
