.login-container {
  /* max-width: 800px;
  margin: auto; */
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.login-grid {
  display: grid;
  gap: 20px;
  padding: 20px;
  border: 1px solid var(--border-color);
  width: 600px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.login-grid input,
.login-grid button {
  padding: 10px;
  border: 1px solid var(--border-color);
}

.login-grid button:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}
