:root {
  --border-color: #797979;
  --border-color-dark: rgb(92, 92, 92);
  --hover-color: rgb(235, 235, 235);
  --hover-color-dark: rgb(212, 212, 212);
}

* {
  font-family: inherit;
}

html,
body {
  height: 100%;
  max-width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input:focus,
button {
  outline: none;
}

#root {
  /* min-height: 100vh; */
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

textarea {
  resize: vertical;
}
